[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
time_lock_vault = "BE2fwKWJx9QZeNEinHAGA8HdVkVmiVhLwED7qJVUNJJF"
[programs.devnet]
time_lock_vault = "BE2fwKWJx9QZeNEinHAGA8HdVkVmiVhLwED7qJVUNJJF"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
